[submodule "bundle/syntastic"]
	path = pack/pkg/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-fugitive"]
	path = pack/pkg/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ansible-vim"]
	path = bundle/ansible-vim
	url = https://github.com/pearofducks/ansible-vim
[submodule "bundle/vim-javascript"]
	path = pack/pkg/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "bundle/vim-airline"]
	path = pack/pkg/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = pack/pkg/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-go"]
	path = pack/pkg/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "bundle/awesome-vim-colorschemes"]
	path = pack/pkg/start/awesome-vim-colorschemes
	url = git@github.com:rafi/awesome-vim-colorschemes.git
[submodule "bundle/vim-hashicorp-tools"]
	path = pack/pkg/start/vim-hashicorp-tools
	url = git@github.com:hashivim/vim-hashicorp-tools.git
